<nav class="navbar">
    <div class="navbar-logo">
        <a href="/landing">
            <img src="/assets/images/logos/galleria.png" alt="NOSTRA Logo" style="height: 32px; width: auto;" />
        </a>
    </div>
    <ul class="navbar-menu">
        <li class="menu-item dropdown">
            Boutique <span class="material-icons" style="font-size:1.1em;vertical-align:middle;">expand_more</span>
        </li>
        <li class="menu-item">Les plus recherchés</li>
        <li class="menu-item">Nouveautés</li>
        <li class="menu-item">Marques</li>
    </ul>
    <div class="navbar-actions">
        <div class="navbar-search">
            <span class="material-icons search-icon">search</span>
            <input type="text" placeholder="Rechercher" />
        </div>
        <!-- <span class="material-icons action-icon">shopping_cart</span> -->
         <div class="cart-icon-wrapper" (click)="toggleCart()">
           <span class="iconify action-icon" data-icon="solar:cart-large-outline" style="font-size: 2em; cursor: pointer;"></span>
           <span *ngIf="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
         </div>
         <a [routerLink]="['/authentication/login']" style="display: flex; align-items: center; cursor: pointer;">
           <span class="iconify" data-icon="solar:user-circle-bold" style="font-size: 2em;"></span>
         </a>
    </div>
</nav>

<app-shopping-cart *ngIf="isCartOpen" (close)="closeCart()"></app-shopping-cart>

