<div class="product-info">
  <h1 class="product-name">{{ productName }}</h1>
  <div class="price">{{ price | number:'1.0-0' }} Ar</div>

  <div class="description-section">
    <h3>Description :</h3>
    <p>{{ description }}</p>
  </div>

  <div class="color-section">
    <h3>Couleur :</h3>
    <div class="color-options">
      <div *ngFor="let color of colors" 
           class="color-option"
           [class.selected]="color.selected"
           (click)="selectColor(color)">
        <div class="color-circle" [style.background-color]="color.value"></div>
        <span>{{ color.name }}</span>
      </div>
    </div>
  </div>

  <div class="size-section">
    <h3>Taille :</h3>
    <div class="size-options">
      <div *ngFor="let size of sizes"
           class="size-option"
           [class.selected]="size.selected"
           (click)="selectSize(size)">
        {{ size.name }}
      </div>
    </div>
  </div>

  <div class="actions">
    <div class="quantity-selector">
      <button (click)="decreaseQuantity()">-</button>
      <input type="number" [(ngModel)]="quantity" readonly>
      <button (click)="increaseQuantity()">+</button>
    </div>
    <button class="add-to-cart" (click)="addToCart()">
      Ajouter au panier · {{ price * quantity | number:'1.0-0' }} Ar
    </button>
  </div>

  <!-- Notification d'ajout au panier -->
  <div class="added-notification" *ngIf="showAddedNotification">
    <iconify-icon icon="ph:check-circle-fill"></iconify-icon>
    <span>Produit ajouté au panier !</span>
  </div>
</div>
