<!-- <div class="trending-header" style="border: solid;"> -->
  <!-- <span class="trending-title">Explore Trending Categories</span> -->
<!-- </div> -->
<div style="display: flex; justify-content: center; margin-bottom: 8px;">
  <a class="trending-view-all" [routerLink]="['/landing/produit']">
    Voir tous les produits
    <span class="trending-view-icon">
      <span class="iconify" data-icon="solar:arrow-right-line-duotone" style="font-size: 1.2em;"></span>
    </span>
  </a>
</div>
<div class="trending-products" style="margin-top: 0; padding-top: 0;">
  <!-- Ici, ajoutez vos blocs de catégories produits -->
</div>
