<div class="cart-item">
  <div class="item-info">
    <div class="item-image">
      <img [src]="item.image || 'assets/images/products/placeholder.jpg'" [alt]="item.name">
    </div>
    <div class="item-details">
      <h4>{{ item.name }}</h4>
      <p class="category">{{ item.category }}</p>
    </div>
  </div>

  <div class="item-size">
    {{ item.size }}
  </div>

  <div class="item-quantity">
    <button class="qty-button" (click)="decreaseQuantity()">-</button>
    <span class="qty-value">{{ item.quantity }}</span>
    <button class="qty-button" (click)="increaseQuantity()">+</button>
  </div>

  <div class="item-price">
    {{ item.price | number:'1.0-0' }} Ar
  </div>

  <button class="remove-button" (click)="removeItem()">
    <iconify-icon icon="ph:x"></iconify-icon>
  </button>
</div>
